.settings
.project
target
.classpath
/**/.classpath
/**/.project
/**/.settings/
/**/application-local.yaml
/**/node_modules/
/**/target/
/**/application-my.yaml
/**/application-local.yml
/**/bootstrap-my.yaml
/**/bootstrap-local.yaml
/**/logback-dev.xml
.Ds_store
.idea
/**/.Ds_store
*.iml
/.metadata/
*.log
*.log.gz
export
/**/.gradle/
/**/src/main/resources/rebel.xml
dump.rdb
tmp*
